* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    box-sizing: border-box;
}

:root {
    --prim: #28282b;
    --sec: lightskyblue;
    --third: violet;
}

html,
body {
    scroll-behavior: smooth;
    width: 100%;
    overflow-x: hidden;
    /* font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; */
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    background-color: var(--prim);
}

h1 {
    font-size: 30%;
    font-weight: 300;
    letter-spacing: 5px;
}

.indent {
    padding-left: 5%;
    list-style-type: square;
}

.social_links {
    margin-right: 1%;
    margin-top: 1%;
    float: right;
}

.social_links li {
    display: inline-flex;
    justify-content: space-around;
    font-size: 20px;
}

.social_links a {
    text-decoration: none;
    padding: 0px 5px;
    letter-spacing: 2px;
    color: var(--sec);
    line-height: 10vh;
    transition: all 0.2s ease 0s;
    cursor: pointer;
}

.social_links li a:hover {
    color: var(--third);
    opacity: 0.6;
}

.home {
    position: relative;
    display: flex;
    justify-content: end;
    align-items: center;
    height: 90vh;
    margin-top: 10vh;
    padding: 0 20%;
}

.profile_img {
    position: absolute;
    background-image: url(res/profile.jpeg);
    background-size: 100%;
    text-align: left;
    width: 35vw;
    height: 35vw;
    border-radius: 3%;
}

.info:hover {
    filter: blur(4px);
    border-radius: 3%;
    margin-top: 100px;
}

.home_text {
    position: relative;
    background-color: transparent;
    right: 51%;
}

.title {
    color: var(--sec);
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
        sans-serif;
    font-size: 8vw;
    font-weight: 300;
}

.line1 {
    position: relative;
    height: 2px;
    width: 70%;
    left: 6%;
    background-color: var(--sec);
    border: none;
    margin-bottom: 2vh;
}

.byline {
    display: block;
    position: relative;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    color: var(--sec);
    font-size: 18px;
    line-height: 7vh;
    letter-spacing: 2.1px;
    left: 2.5vw;
    text-decoration: none;
    list-style-type: none;
}

.byline li a {
    color: var(--sec);
    transition: all 0.2s ease 0s;
    cursor: pointer;
}

.byline li a:hover {
    color: var(--third);
    opacity: 0.6;
}

.studentLink,
.developerLink,
.musicianLink {
    width: 15vw;
    text-align: center;
    --g: 10px;
    --b: 0px;
    --c: var(--sec);
    --_c: #0000 0 25%, var(--c) 0 50%;
    --_g1: repeating-linear-gradient(90deg, var(--_c)) repeat-x;
    --_g2: repeating-linear-gradient(180deg, var(--_c)) repeat-y;
    background: var(--_g1) var(--_p, 25%) 0, var(--_g2) 0 var(--_p, 125%),
        var(--_g1) var(--_p, 125%) 100%, var(--_g2) 100% var(--_p, 25%);
    background-size: 200% var(--b), var(--b) 200%;
    filter: grayscale(50%);
    transition: 0.3s;
}

.studentLink:hover,
.developerLink:hover,
.musicianLink:hover {
    --b: 3px;
    --_p: 75%;
    padding: 2vh;
}

.img_grinnell {
    position: absolute;
    background-image: url(res/grinnell.png);
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 5% 35%;
    width: 15%;
    height: 21.5%;
}

.img_ait {
    position: absolute;
    margin: 8% 55%;
    background-repeat: no-repeat;
    background-image: url(res/ait.png);
    object-fit: contain;
    width: 50%;
    height: 30%;
}

.about,
.workEx,
.projects {
    animation: fadeIn ease 1s;
    -webkit-animation: fadeIn ease 1s;
    -moz-animation: fadeIn ease 1s;
    -o-animation: fadeIn ease 1s;
    -ms-animation: fadeIn ease 1s;
}

.resumeButton {
    display: block;
    position: relative;
    left: 47%;
    color: var(--sec);
    background: inherit;
    margin: 1%;
    border: 2px solid var(--sec);
    padding: 1.5%;
}

.resumeButton:hover {
    cursor: pointer;
    color: var(--third);
    border: 2px solid var(--third);
    opacity: 0.6;
}

.student_text {
    display: block;
    position: relative;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    padding: 20% 20% 5% 20%;
    color: var(--sec);
    font-size: 18px;
    font-weight: 20;
    line-height: 5vh;
    letter-spacing: 2;
    left: 2.5vw;
    text-decoration: none;
    text-align: center;
}

.student_text a {
    text-decoration: underline;
    color: inherit;
}

.student_text a:hover {
    color: var(--third);
    opacity: 0.6;
}

.devTitle {
    margin-left: 6%;
    margin-top: 5%;
    margin-bottom: 1%;
    color: var(--sec);
    font-size: 50px;
}

.line2 {
    position: relative;
    height: 2px;
    width: 30%;
    left: 6%;
    background-color: var(--sec);
    border: none;
    margin-bottom: 2vh;
}

.contents {
    color: var(--sec);
    font-size: 15px;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    line-height: 2;
    letter-spacing: 2;
}

.projects_byline {
    margin-left: 6%;
    margin-bottom: 2%;
    text-decoration: underline;
}

.projects_byline a {
    color: var(--sec);
}

.projects_byline a:hover {
    color: var(--third);
    opacity: 0.6;
}

.gaines_byline a {
    color: var(--sec);
    text-decoration: underline;
}

.gaines_byline a:hover {
    color: var(--third);
    opacity: 0.6;
}

.project-container {
    display: flex;
}

.section {
    display: flex;
    width: fit-content;
    margin-top: 5%;
    margin-left: 10%;
    overflow: hidden;
}

.section button {
    width: 40vw;
    /* font-size: 1vw; */
    background-color: inherit;
    float: left;
    outline: none;
    border: none;
    color: var(--sec);
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
}

.section button.active {
    border: 2px solid var(--sec);
    border-bottom: none;
}

.section button:hover {
    background-color: var(--third);
    opacity: 0.5;
}

.section button:hover h1 {
    color: var(--prim);
}

.line4 {
    position: relative;
    height: 2px;
    width: 80vw;
    left: 10%;
    background-color: var(--sec);
    border: none;
    margin-bottom: 1vh;
}

.tab {
    flex: 20%;
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 5%;
    margin-left: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    overflow: hidden;
}

.tab ul {
    list-style-type: none;
}

.tab button {
    width: 12vw;
    height: 8vh;
    font-size: 1vw;
    background-color: inherit;
    float: left;
    text-align: left;
    vertical-align: middle;
    outline: none;
    border: none;
    color: var(--sec);
    cursor: pointer;
    padding: 1vw 2vw;
    transition: 0.3s;
}

.tab button.active {
    background-color: var(--sec);
    color: var(--prim);
}

.tab button:hover {
    background-color: var(--third);
    opacity: 0.5;
    color: var(--prim);
}

.line3 {
    position: relative;
    height: 2px;
    width: 20%;
    left: 12%;
    background-color: var(--sec);
    border: none;
    transform: rotate(90deg);
}

.tabcontent {
    flex: 80%;
    margin-top: 5%;
    margin-right: 10%;
    display: flex;
    height: 70vh;
    /* padding-top: 2%; */
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
    border: 1px solid var(--sec);
    border-top: none;
    color: var(--sec);
}

.row {
    display: flex;
    margin: auto;
}

.tabText {
    flex: 30%;
    line-height: 3vh;
}

.tabText a {
    text-decoration: underline;
    color: inherit;
}

.tabText a:hover {
    color: var(--third);
    opacity: 0.6;
}

.tabImg {
    padding-left: 3%;
    flex: 70%;
    align-content: center;
}

.tabVid {
    padding-left: 10%;
    flex: 20%;
    align-content: center;
}

.jampad {
    border-radius: 15px;
}

@media screen and (max-width: 768px) {
    .home {
        padding: 30% 5%;
        padding-bottom: 55%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    .profile_img {
        width: 65vw;
        height: 65vw;
    }
    .home_text {
        position: relative;
        right: 0%;
        top: 40vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .title {
        font-size: 12vw;
        text-align: center;
    }
    .line1 {
        align-self: center;
        width: 80%;
    }
    .byline {
        margin-left: 25%;
        font-size: 15px;
        text-align: center;
    }
}

@keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(30%);
    }
    100% {
        opacity: 1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(30%);
    }
    100% {
        opacity: 1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(30%);
    }
    100% {
        opacity: 1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(30%);
    }
    100% {
        opacity: 1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity: 0;
        transform: translateY(30%);
    }
    100% {
        opacity: 1;
    }
}

.timeline {
    position: relative;
    padding-left: 40px;
    margin: 15%;
    margin-top: 5%;
}

.timeline::before {
    content: "";
    position: absolute;
    left: 20px;
    top: 0;
    bottom: 0;
    width: 2px;
    background-color: var(--sec);
    margin-left: -1px;
}

.timeline-item {
    margin-bottom: 50px;
    position: relative;
}

.timeline-icon {
    position: absolute;
    left: 20px;
    top: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    text-align: center;
    background-color: inherit;
    z-index: 1;
}

.timeline-icon ion-icon {
    font-size: 18px;
    line-height: 30px;
    color: var(--sec);
}

.timeline-content {
    margin-left: 60px;
    background-color: inherit;
    border-radius: 5px;
    padding: 20px;
    position: relative;
    box-shadow: 0 5px 10px var(--sec);
    transition: all 0.3s ease;
}

.timeline-content:hover {
    transform: translateY(-10px);
}

.timeline-content h3 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 22px;
    color: var(--sec);
}

.timeline-content {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
    color: var(--sec);
}

.timeline-content .time {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 14px;
    color: #999;
    text-align: right;
    display: block;
}
