* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box
}

html,
body {
    scroll-behavior: smooth;
    width: 100%;
    overflow-x: hidden;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

nav {
    position: fixed;
    top: 0;
    z-index: 1;
    display: inline-flex;
    justify-content: space-between;
    padding: 0px 10%;
    width: 100%;
    min-height: 10vh;
    background-color: black;
}

.nav_links {
    display: inline-flex;
    justify-content: space-around;
}

.social_links {
    display: inline-flex;
    justify-content: space-around;
    font-size: 20px;
}

.nav_links a {
    text-decoration: none;
    padding: 0px 2vw;
    letter-spacing: 2px;
    color: lightskyblue;
    line-height: 10vh;
    transition: all 0.2s ease 0s;
    cursor: pointer;
}

.social_links a {
    text-decoration: none;
    padding: 0px 5px;
    letter-spacing: 2px;
    color: lightskyblue;
    line-height: 10vh;
    transition: all 0.2s ease 0s;
    cursor: pointer;
}

.nav_links li a:hover {
    color: violet;
    opacity: 0.6;
}

.social_links li a:hover {
    color: violet;
    opacity: 0.6;
}

.burger {
    display: none;
    transition: all 0.3s ease;
}

.home_page {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: #28282B;
    height: 100vh;
    margin-top: 10vh;
    padding: 0 20%;
}

.img1 {
    position: absolute;
    background-image: url(res/thanksgiving.jpeg);
    background-size: 100%;
    text-align: left;
    width: 35vw;
    height: 35vw;
}

.home_text {
    position: relative;
    background-color: transparent;
    right: 51%;
}

.title {
    color: lightskyblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 8vw;
    font-weight: 550;
}

.line1 {
    position: relative;
    height: 2px;
    width: 70%;
    left: 2%;
    background-color: lightskyblue;
    border: none;
    margin-bottom: 2vw;
}

.byline {
    position: relative;
    color: lightskyblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.1vw;
    letter-spacing: 2.1px;
    left: 0.7vw;
}

.education_page {
    scroll-margin-top: 10vh;
    position: relative;
    background-color: lightskyblue;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    padding: 10vh 10vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 22;
    font-weight: 300;
}

.education_title {
    color: #28282B;
    font-size: 80;
    font-weight: 550;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.line2 {
    position: relative;
    width: 20vh;
    background-color: #28282B;
    border: none;
    height: 2px;
    margin-bottom: 2vh;
}


/*

.about_page {
    background-color: lightskyblue;
    height: 1000px;
}

.about_title {
    background-color: transparent;
    color: #28282B;
    position: relative;
    top: 70px;
    left: 100px;
    font-size: 80;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.line {
    position: relative;
    top: 75px;
    left: 100px;
    width: 10%;
    height: 2px;
    display: block;
    background-color: #28282B;
    border: none;
}

.about_content {
    position: relative;
    width: 50%;
    top: 90px;
    left: 100px;
    color: #28282B;
    font-size: 25;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    text-justify: inter-word;
}

.education_page {
    background-color: #28282B;
    height: 1000px;
}

.education_title {
    background-color: transparent;
    color: lightskyblue;
    position: relative;
    top: 70px;
    left: 100px;
    font-size: 80;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.education_content li {
    position: relative;
    width: 50%;
    top: 90px;
    left: 100px;
    color: lightskyblue;
    font-size: 25;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    text-justify: inter-word;
}

.music_page {
    background-color: #28282B;
    height: 2000px;
}

.music_title {
    background-color: transparent;
    color: lightskyblue;
    position: relative;
    top: 70px;
    left: 100px;
    font-size: 80;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.line2 {
    position: relative;
    top: 75px;
    left: 100px;
    width: 10%;
    height: 2px;
    display: block;
    background-color: lightskyblue;
    border: none;
}

.music_content {
    position: relative;
    width: 50%;
    top: 90px;
    left: 100px;
    color: lightskyblue;
    font-size: 25;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: justify;
    text-justify: inter-word;
}

.right_mind {
    position: relative;
    width: 450px;
    height: 250px;
    bottom: 220px;
    right: 100px;
    float: right;
    border-radius: 25px;
}

.boxer {
    position: relative;
    width: 40%;
    height: 335px;
    top: 100px;
    left: 350px;
    float: right;
    border-radius: 20px;
    overflow: hidden;
    background-color: #171717;
}

.boxer iframe {
    padding-top: 5px;
    width: 100%;
}

.boxer p {
    color: white;
    font-size: 15;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 10px;
    padding-top: 5px;
}

.sultans {
    position: relative;
    width: 40%;
    height: 335px;
    float: left;
    bottom: 235px;
    left: 100px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #171717;
}

.sultans video {
    padding-top: 5px;
    height: 100%;
    width: 100%;
}

.sultans p {
    color: white;
    font-size: 15;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding-left: 10px;
    padding-top: 5px;
}

.heartbreak {
    position: relative;
    width: fit-content;
    height: fit-content;
    float: left;
    top: 300px;
    left: 100px;
    border-radius: 20px;
    overflow: hidden;
    background-color: #171717;
} */

@media screen and (max-width:768px) {
    .nav_links {
        position: absolute;
        right: 0px;
        height: 90vh;
        width: 100%;
        top: 10vh;
        background-color: darkslategrey;
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: translateX(100%);
        transition: transform 0.5s ease;
    }
    .nav_links li {
        opacity: 0;
    }
    .burger {
        display: inline-flex;
        padding-top: 1.4vh;
        color: lightskyblue;
        font-size: 30px;
        cursor: pointer;
    }
    .home_page {
        padding: 30% 5%;
        padding-bottom: 55%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }
    .img1 {
        width: 65vw;
        height: 65vw;
    }
    .home_text {
        position: relative;
        right: 0%;
        top: 40vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .title {
        font-size: 12vw;
        text-align: center;
    }
    .line1 {
        align-self: center;
        width: 80%;
    }
    .byline {
        font-size: 2vw;
        text-align: center;
    }
    .education_page {
        font-size: 17;
    }
    .education_title {
        font-size: 60;
    }
}

.nav_active {
    transform: translateX(0%);
    z-index: 1;
}

.rotate .burger {
    transform: rotate(-180deg);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}